.contentCart{
  margin-top: 70px;
  margin-bottom: 50px;
}

.justifyCenter{
  justify-content: center;
}

.list-group-item{
  display: inherit;

}

.pt-6{
  padding-top: 6rem !important;
}

.bodybkg{
  background: #0cebeb;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  min-height: 100vh;
}

.btn-dark:hover{
  color:#00ffe5 !important;
}
